<?xml version="1.0" encoding="utf-8"?>
<robot name="turtlebot (1)">
  <material name="Green">
    <color rgba="0 0.8 0 1" />
  </material>
  <material name="create_tga-Material001">
    <texture filename="package://resources/create_body.tga" />
  </material>
  <material name="Default-Material">
    <color rgba="1 1 1 1" />
  </material>
  <material name="No Name">
    <color rgba="1 1 1 1" />
  </material>
  <material name="plate_0_tga">
    <texture filename="package://resources/plate_0_logo.tga" />
  </material>
  <material name="plate_1_tga">
    <texture filename="package://resources/plate_1_logo.tga" />
  </material>
  <material name="material0">
    <texture filename="package://resources/68-04552-1000-RA_Turtlebot_M-F_Standoff_color.png" />
  </material>
  <material name="plate_2_tga">
    <texture filename="package://resources/plate_2_logo.tga" />
  </material>
  <material name="_1_-_Default">
    <texture filename="package://resources/kinect.jpg" />
  </material>
  <link name="base_footprint">
    <visual>
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
      <material name="Green" />
    </visual>
    <collision>
      <origin xyz="0 0 0.017" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="2" />
      <inertia ixx="0.00999999977648258" ixy="0" ixz="0" iyy="0.00999999977648258" iyz="0" izz="0.5" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.0308" />
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="create_tga-Material001" />
    </visual>
    <collision>
      <origin xyz="0 0 0.0308" />
      <geometry>
        <cylinder length="0.061163" radius="0.16495" />
      </geometry>
    </collision>
  </link>
  <link name="wall_sensor_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
  </link>
  <link name="left_cliff_sensor_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
  </link>
  <link name="right_cliff_sensor_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
  </link>
  <link name="leftfront_cliff_sensor_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="0.00999999977648258" iyz="0" izz="0.00999999977648258" />
    </inertial>
  </link>
  <link name="rightfront_cliff_sensor_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
  </link>
  <link name="left_wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
    <visual>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <cylinder length="0.023" radius="0.033" />
      </geometry>
      <material name="Default-Material" />
    </visual>
    <collision>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <cylinder length="0.023" radius="0.033" />
      </geometry>
    </collision>
  </link>
  <link name="right_wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
    <visual>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <cylinder length="0.023" radius="0.033" />
      </geometry>
      <material name="Default-Material" />
    </visual>
    <collision>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <cylinder length="0.023" radius="0.033" />
      </geometry>
    </collision>
  </link>
  <link name="rear_wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <sphere radius="0.015" />
      </geometry>
      <material name="Default-Material" />
    </visual>
    <collision>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <sphere radius="0.015" />
      </geometry>
    </collision>
  </link>
  <link name="front_wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
    <visual>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <sphere radius="0.018" />
      </geometry>
      <material name="Default-Material" />
    </visual>
    <collision>
      <origin rpy="0 1.570796 -4.712485" />
      <geometry>
        <sphere radius="0.018" />
      </geometry>
    </collision>
  </link>
  <link name="gyro_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999997475243E-07" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
  </link>
  <link name="laser">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.035 0.002" />
      </geometry>
      <material name="Green" />
    </visual>
  </link>
  <link name="spacer_0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="No Name" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.003175" radius="0.0127" />
      </geometry>
    </collision>
  </link>
  <link name="spacer_1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="No Name" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.003175" radius="0.0127" />
      </geometry>
    </collision>
  </link>
  <link name="spacer_2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="No Name" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.003175" radius="0.0127" />
      </geometry>
    </collision>
  </link>
  <link name="spacer_3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="No Name" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.003175" radius="0.0127" />
      </geometry>
    </collision>
  </link>
  <link name="plate_0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00999999977648258" ixy="0" ixz="0" iyy="0.00999999977648258" iyz="0" izz="0.00999999977648258" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="plate_0_tga" />
    </visual>
    <collision>
      <geometry>
        <box size="0.233502 0.314845 0.006401" />
      </geometry>
    </collision>
  </link>
  <link name="plate_1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.1000000015" />
      <inertia ixx="0.00999999977648258" ixy="0" ixz="0" iyy="0.00999999977648258" iyz="0" izz="0.00999999977648258" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="plate_1_tga" />
    </visual>
    <collision>
      <geometry>
        <box size="0.314856 0.314856 0.006401" />
      </geometry>
    </collision>
  </link>
  <link name="plate_2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="0.00100000004749745" ixy="0" ixz="0" iyy="0.00100000004749745" iyz="0" izz="0.00100000004749745" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="plate_1_tga" />
    </visual>
    <collision>
      <geometry>
        <box size="0.314856 0.314856 0.006401" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_kinect_0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.008585" radius="0.001111" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_kinect_1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.008585" radius="0.001111" />
      </geometry>
    </collision>
  </link>
  <link name="plate_3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0099999998" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="plate_2_tga" />
    </visual>
    <collision>
      <geometry>
        <box size="0.288 0.315 0.006401" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_4_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_8in_0_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.2032" radius="0.011113" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_5_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_8in_1_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.2032" radius="0.011113" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_6_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_8in_2_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.2032" radius="0.011113" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_2in_7_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0635" radius="0.0381" />
      </geometry>
    </collision>
  </link>
  <link name="standoff_8in_3_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="9.99999974737875E-05" ixy="0" ixz="0" iyy="9.99999974737875E-05" iyz="0" izz="9.99999974737875E-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="material0" />
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.2032" radius="0.011113" />
      </geometry>
    </collision>
  </link>
  <link name="camera_rgb_frame" />
  <link name="camera_rgb_optical_frame" />
  <link name="camera_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.5640000105" />
      <inertia ixx="0.003881243057549" ixy="0" ixz="0" iyy="0.000498940004035831" iyz="0" izz="0.00387925724498928" />
    </inertial>
    <visual>
      <origin rpy="0 0 -4.712389" />
      <geometry>
        <mesh filename="package://meshes/68-02421-8000-RA_Turtlebot_F-F_Standoff.stl" scale="1 1 1" />
      </geometry>
      <material name="_1_-_Default" />
    </visual>
    <collision>
      <geometry>
        <box size="0.07271 0.27794 0.073" />
      </geometry>
    </collision>
  </link>
  <link name="camera_depth_frame" />
  <link name="camera_depth_optical_frame" />
  <joint name="base_footprint_base_link_joint" type="fixed">
    <origin xyz="0 0 0.017" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>
  <joint name="base_wall_sensor_joint" type="fixed">
    <origin rpy="0 0 -1" xyz="0.09 -0.12 0.042" />
    <parent link="base_link" />
    <child link="wall_sensor_link" />
  </joint>
  <joint name="base_left_cliff_sensor_joint" type="fixed">
    <origin rpy="0 1.570451 0" xyz="0.07 0.14 0.01" />
    <parent link="base_link" />
    <child link="left_cliff_sensor_link" />
  </joint>
  <joint name="base_right_cliff_sensor_joint" type="fixed">
    <origin rpy="0 1.570451 0" xyz="0.07 -0.14 0.01" />
    <parent link="base_link" />
    <child link="right_cliff_sensor_link" />
  </joint>
  <joint name="base_leftfront_cliff_sensor_joint" type="fixed">
    <origin rpy="0 1.570451 0" xyz="0.15 0.04 0.01" />
    <parent link="base_link" />
    <child link="leftfront_cliff_sensor_link" />
  </joint>
  <joint name="base_rightfront_cliff_sensor_joint" type="fixed">
    <origin rpy="0 1.570451 0" xyz="0.15 -0.04 0.01" />
    <parent link="base_link" />
    <child link="rightfront_cliff_sensor_link" />
  </joint>
  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="0 0.13 0.015" />
    <parent link="base_link" />
    <child link="left_wheel_link" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0 -0.13 0.015" />
    <parent link="base_link" />
    <child link="right_wheel_link" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="rear_castor_joint" type="fixed">
    <origin xyz="-0.13 0 0" />
    <parent link="base_link" />
    <child link="rear_wheel_link" />
  </joint>
  <joint name="front_castor_joint" type="fixed">
    <origin xyz="0.13 0 0" />
    <parent link="base_link" />
    <child link="front_wheel_link" />
  </joint>
  <joint name="gyro_joint" type="fixed">
    <origin xyz="0 0 0.04" />
    <parent link="base_link" />
    <child link="gyro_link" />
  </joint>
  <joint name="laser_joint" type="fixed">
    <origin xyz="-0.065 0 0.075" />
    <parent link="base_link" />
    <child link="laser" />
  </joint>
  <joint name="spacer_0_joint" type="fixed">
    <origin xyz="-0.00254 0.111468 0.062992" />
    <parent link="base_link" />
    <child link="spacer_0_link" />
  </joint>
  <joint name="spacer_1_joint" type="fixed">
    <origin xyz="-0.00254 -0.111468 0.062992" />
    <parent link="base_link" />
    <child link="spacer_1_link" />
  </joint>
  <joint name="spacer_2_joint" type="fixed">
    <origin xyz="-0.07239 -0.111468 0.062992" />
    <parent link="base_link" />
    <child link="spacer_2_link" />
  </joint>
  <joint name="spacer_3_joint" type="fixed">
    <origin xyz="-0.07239 0.111468 0.062992" />
    <parent link="base_link" />
    <child link="spacer_3_link" />
  </joint>
  <joint name="plate_0_joint" type="fixed">
    <origin xyz="-0.04334 0 0.067757" />
    <parent link="base_link" />
    <child link="plate_0_link" />
  </joint>
  <joint name="plate_1_joint" type="fixed">
    <origin xyz="0.04068 0 0.05715" />
    <parent link="plate_0_link" />
    <child link="plate_1_link" />
  </joint>
  <joint name="plate_2_joint" type="fixed">
    <origin xyz="0 0 0.057201" />
    <parent link="plate_1_link" />
    <child link="plate_2_link" />
  </joint>
  <joint name="standoff_kinect_0_joint" type="fixed">
    <origin xyz="-0.102438 0.098 0.0032" />
    <parent link="plate_2_link" />
    <child link="standoff_kinect_0_link" />
  </joint>
  <joint name="standoff_kinect_1_joint" type="fixed">
    <origin xyz="-0.102438 -0.098 0.0032" />
    <parent link="plate_2_link" />
    <child link="standoff_kinect_1_link" />
  </joint>
  <joint name="plate_3_joint" type="fixed">
    <origin xyz="-0.01316 0 0.20635" />
    <parent link="plate_2_link" />
    <child link="plate_3_link" />
  </joint>
  <joint name="standoff_2in_0_joint" type="fixed">
    <origin xyz="0.06764 0.13142 0.07098" />
    <parent link="base_link" />
    <child link="standoff_2in_0_link" />
  </joint>
  <joint name="standoff_2in_4_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_0_link" />
    <child link="standoff_2in_4_link" />
  </joint>
  <joint name="standoff_8in_0_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_4_link" />
    <child link="standoff_8in_0_link" />
  </joint>
  <joint name="standoff_2in_1_joint" type="fixed">
    <origin xyz="0.06764 -0.13142 0.07098" />
    <parent link="base_link" />
    <child link="standoff_2in_1_link" />
  </joint>
  <joint name="standoff_2in_5_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_1_link" />
    <child link="standoff_2in_5_link" />
  </joint>
  <joint name="standoff_8in_1_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_5_link" />
    <child link="standoff_8in_1_link" />
  </joint>
  <joint name="standoff_2in_2_joint" type="fixed">
    <origin xyz="-0.052832 -0.13142 0.07098" />
    <parent link="base_link" />
    <child link="standoff_2in_2_link" />
  </joint>
  <joint name="standoff_2in_6_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_2_link" />
    <child link="standoff_2in_6_link" />
  </joint>
  <joint name="standoff_8in_2_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_6_link" />
    <child link="standoff_8in_2_link" />
  </joint>
  <joint name="standoff_2in_3_joint" type="fixed">
    <origin xyz="-0.052832 0.13142 0.07098" />
    <parent link="base_link" />
    <child link="standoff_2in_3_link" />
  </joint>
  <joint name="standoff_2in_7_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_3_link" />
    <child link="standoff_2in_7_link" />
  </joint>
  <joint name="standoff_8in_3_joint" type="fixed">
    <origin xyz="0 0 0.05715" />
    <parent link="standoff_2in_7_link" />
    <child link="standoff_8in_3_link" />
  </joint>
  <joint name="base_link_camera_rgb_frame_joint" type="fixed">
    <origin xyz="-0.087 -0.0125 0.287" />
    <parent link="base_link" />
    <child link="camera_rgb_frame" />
  </joint>
  <joint name="camera_rgb_frame_camera_rgb_optical_frame_joint" type="fixed">
    <origin rpy="-1.570796 0 -1.570796" />
    <parent link="camera_rgb_frame" />
    <child link="camera_rgb_optical_frame" />
  </joint>
  <joint name="camera_rgb_frame_camera_link_joint" type="fixed">
    <origin xyz="-0.031 0.0125 -0.016" />
    <parent link="camera_rgb_frame" />
    <child link="camera_link" />
  </joint>
  <joint name="camera_rgb_frame_camera_depth_frame_joint" type="fixed">
    <origin xyz="0 0.025 0" />
    <parent link="camera_rgb_frame" />
    <child link="camera_depth_frame" />
  </joint>
  <joint name="camera_depth_frame_camera_depth_optical_frame_joint" type="fixed">
    <origin rpy="-1.570796 0 -1.570796" />
    <parent link="camera_depth_frame" />
    <child link="camera_depth_optical_frame" />
  </joint>
  <gazebo>
  <plugin filename="libgazebo_ros_create.so" name="create_controller">
    <alwaysOn>true</alwaysOn>
    <node_namespace>turtlebot_node</node_namespace>
    <left_wheel_joint>left_wheel_joint</left_wheel_joint>
    <right_wheel_joint>right_wheel_joint</right_wheel_joint>
    <front_castor_joint>front_castor_joint</front_castor_joint>
    <rear_castor_joint>rear_castor_joint</rear_castor_joint>
    <wheel_separation>.260</wheel_separation>
    <wheel_diameter>0.066</wheel_diameter>
    <base_geom>base_footprint_collision_base_link</base_geom>
    <updateRate>40</updateRate>
    <torque>1.0</torque>
  </plugin>
</gazebo>
<gazebo reference="left_wheel_link">
  <mu1>1.0</mu1>
  <mu2>1.0</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
</gazebo>
<gazebo reference="right_wheel_link">
  <mu1>1.0</mu1>
  <mu2>1.0</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
</gazebo>
<gazebo reference="rear_wheel_link">
  <mu1>0.0</mu1>
  <mu2>0.0</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
</gazebo>
<gazebo reference="front_wheel_link">
  <mu1>0.0</mu1>
  <mu2>0.0</mu2>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
  <minDepth>0.001</minDepth>
  <maxVel>1.0</maxVel>
</gazebo>
<gazebo reference="wall_sensor_link">
  <sensor name="wall_sensor" type="ray">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <pose>0 0 0 0 0 0</pose>
    <visualize>false</visualize>
    <ray>
      <scan>
        <horizontal>
          <samples>1</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>0</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.0160</min>
        <max>0.04</max>
        <resolution>0.1</resolution>
      </range>
    </ray>
  </sensor>
</gazebo>
<gazebo reference="left_cliff_sensor_link">
  <sensor name="left_cliff_sensor" type="ray">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <pose>0 0 0 0 0 0</pose>
    <visualize>false</visualize>
    <ray>
      <scan>
        <horizontal>
          <samples>1</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>0</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.01</min>
        <max>0.04</max>
        <resolution>0.1</resolution>
      </range>
    </ray>
  </sensor>
</gazebo>
<gazebo reference="right_cliff_sensor_link">
  <sensor name="right_cliff_sensor" type="ray">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <pose>0 0 0 0 0 0</pose>
    <visualize>false</visualize>
    <ray>
      <scan>
        <horizontal>
          <samples>1</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>0</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.01</min>
        <max>0.04</max>
        <resolution>0.1</resolution>
      </range>
    </ray>
  </sensor>
</gazebo>
<gazebo reference="leftfront_cliff_sensor_link">
  <sensor name="leftfront_cliff_sensor" type="ray">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <pose>0 0 0 0 0 0</pose>
    <visualize>false</visualize>
    <ray>
      <scan>
        <horizontal>
          <samples>1</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>0</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.01</min>
        <max>0.04</max>
        <resolution>0.1</resolution>
      </range>
    </ray>
  </sensor>
</gazebo>
<gazebo reference="rightfront_cliff_sensor_link">
  <sensor name="rightfront_cliff_sensor" type="ray">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <pose>0 0 0 0 0 0</pose>
    <visualize>false</visualize>
    <ray>
      <scan>
        <horizontal>
          <samples>1</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>0</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.01</min>
        <max>0.04</max>
        <resolution>0.1</resolution>
      </range>
    </ray>
  </sensor>
</gazebo>
<gazebo>
  <plugin filename="libgazebo_ros_imu.so" name="imu_controller">
    <alwaysOn>true</alwaysOn>
    <updateRate>30</updateRate>
    <bodyName>gyro_link</bodyName>
    <topicName>imu/data</topicName>
    <serviceName>imu/is_calibrated</serviceName>
    <gaussianNoise>2.89e-06</gaussianNoise>
    <xyzOffsets>0 0 0</xyzOffsets>
    <rpyOffsets>0 0 0</rpyOffsets>
  </plugin>
</gazebo>
<gazebo reference="camera_link">
  <sensor name="camera" type="depth">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <camera>
      <horizontal_fov>1.0471975512</horizontal_fov>
      <image>
        <format>B8G8R8</format>
        <width>640</width>
        <height>480</height>
      </image>
      <clip>
        <near>0.05</near>
        <far>8.0</far>
      </clip>
    </camera>
    <plugin filename="libgazebo_ros_openni_kinect.so" name="kinect_camera_controller">
      <cameraName>camera</cameraName>
      <alwaysOn>true</alwaysOn>
      <updateRate>10</updateRate>
      <imageTopicName>rgb/image_raw</imageTopicName>
      <depthImageTopicName>depth/image_raw</depthImageTopicName>
      <pointCloudTopicName>depth/points</pointCloudTopicName>
      <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
      <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
      <frameName>camera_depth_optical_frame</frameName>
      <baseline>0.1</baseline>
      <distortion_k1>0.0</distortion_k1>
      <distortion_k2>0.0</distortion_k2>
      <distortion_k3>0.0</distortion_k3>
      <distortion_t1>0.0</distortion_t1>
      <distortion_t2>0.0</distortion_t2>
      <pointCloudCutoff>0.4</pointCloudCutoff>
    </plugin>
  </sensor>
</gazebo>
</robot>